.tab-container {
	border-radius: 0.5em;

	.tab-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #e3e8f0;
		border-radius: 0.5em;
		font-weight: 600;
		gap: 0.5em;
		height: 4em;
		padding: 0 0.25em;
	}

	.tab-item {
		color: #bbbdc1;
		border-radius: 0.5em;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		width: 33%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3.5em;
	}

	.tab-item.active {
		background-color: #f9fbfc;
		color: #292a39;
	}

	.tab-body {
		overflow: hidden;
	}
}
